<div class="navbar profile" ng-if="userFirstName">
    <div class="pull-right">
        <span>{{userFirstName}}</span>
        <img ng-src="{{profilePic}}">
    </div>
</div>

<div class="container" id="taskList">
    <div class="row">
        <div class="col-md-12 timer">
            <h4>{{ timerLabel }}</h4>
            <span ng-bind-html="timerDisplay"></span>
            <br>
            <input type="button" value="Stop" class="btn btn-danger" ng-disabled="!activeTimer()"
                   ng-click="stopTimer()">
            <input type="button" value="Complete" class="btn btn-success" ng-disabled="!activeTimer()"
                   ng-click="completeTask()">
        </div>
    </div>
    <div id="tomato-items">
        <div class="row tomoto-item" ng-repeat="item in list track by $index">
            <div class="col-md-1 completed">
                <i class="fa fa-bars drag-handle"></i>
                <input type="checkbox" ng-model="item.completed" tabindex="-1" class="pull-right">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control task-label" ng-class="{completed: item.completed}"
                       ng-model="item.label"
                       ng-blur="save()">
            </div>
            <div class="col-md-2">
                &nbsp;
                <i class="fa fa-clock-o start-timer" ng-if="!activeTimer()" ng-style="item.timerBtn" ng-click="startTimer(item)"></i>
                <i class="fa fa-plus start-timer" ng-if="!activeTimer()" ng-click="addMinutes(item)" title="Add Minutes"></i>
                <i class="fa fa-minus start-timer" ng-if="!activeTimer()" ng-click="subMinutes(item)" title="Subtract Minutes"></i>
            </div>
            <div class="col-md-2" ng-bind-html="item.timer">
            </div>
            <div class="col-md-2">
                <i class="fa fa-times remove-icon" ng-click="remove(item)"></i>
                <i class="fa fa-clock-o harvest-icon" ng-click="submitTime(item)" title="Add Time to "></i>
                <i class="fa fa-minus-circle harvest-icon" ng-click="clearTime(item)" title="Clear Task Time"></i>
            </div>
        </div>
    </div>
    <div class="row tomoto-item new-item">
        <div class="col-md-6 col-md-offset-1">
            <input type="text" class="form-control  task-label" placeholder="New task ... (Enter)" ng-model="newLabel"
                   ng-enter="create()">
        </div>
        <div class="col-md-1 text-right"><strong>Total: </strong></div>
        <div class="col-md-2" ng-bind-html="dailyTotal">
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger btn-sm" ng-click="clearTimes()">Clear Times</button>
        </div>
    </div>
</div>